.footer {
  text-align: center;
  font-size: 0.8rem;
  padding-bottom: 4rem;
  width: 100%;
  
  @media screen and (min-width: $size-md) {
    font-size: 0.7rem;
    padding-bottom: 4rem;
  }

  a {
    color: $color-subtext;
    display: block;
    margin: 1.5rem auto;

    @media screen and (min-width: $size-sm) {
      display: inline;
      margin: 0 1rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: $color-subtext;
    display: none;

    @media screen and (min-width: $size-sm) {
      display: inline;
    }
  }

  &__primary {
    padding-bottom: 0.5rem;

    a {
      display: inline;
      color: $color-text;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0.5rem;
      }
    }

    span {
      display: inline;
    }
  }
}
