html {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  line-height: $line-height;
  background-color: black;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $color-anchor;
  word-break: break-all;
}

h3,
h4,
p {
  margin: 0;
  margin-bottom: $margin;
  font-size: $font-size;
  color: $color-text;
}
