html {
  box-sizing: border-box;
  margin: 0;
  font-family: $font-family;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: $font-size;
  color: $color-white;
  line-height: $line-height;
  background-color: black;
}

body,
html {
  height: 100%;
  min-height: 100vh;
  width: 100%;
}


h2,
h3,
h4,
p {
  margin: 0;
  margin-bottom: $margin;
  font-size: $font-size;
  line-height: $line-height * 1.2;
  color: $color-text;
}

h4 {
  margin-bottom: 0;
  color: $color-subtext;
}

[aria-current="page"] {
  text-decoration: underline;
}

b {
  font-weight: bold;
}


// LINKS

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: $color-anchor;
  word-break: break-all;

  &.external-link {
    margin-right: 15px;
    &::after {
      content: "↗";
      position: absolute;
      right: -15px;
    }
  }
}

.link-cta {
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }
    
    &:hover {
      text-decoration: underline;
    }
}

p {
  a {
    text-decoration: underline;
  }
}

.button {
  border: solid 1px $color-subtext;
  background: $color-dark;
  padding: 0.8rem;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
  
  &:hover {
    text-decoration: none !important;
    background: white;
    color: $color-dark;
  }
}

// SCROLL transition

.site:not(.page-home) {
  @media screen and (min-width: $size-sm) and (min-height: 400px) {
    .header__info, .header__nav, .cta__submit {
      transition: opacity 0.6s ease-in-out;
    }
    
    &.scrolled {
      & .header__info,  & .header__nav, & .cta__submit {
        opacity: 0;
      }
    }
  }
}

