.header {
  z-index: 20;
  color: $color-subtext;
  width: 100%;
  min-width: 10rem;
  
  @media screen and (min-width: $size-sm) {
    margin: 0;
    padding-top: $padding-lg * 2;
  }

  &__title {
    margin-top: 0;
    top: $margin;
    left: $margin;

    a {
      text-decoration: none !important;
    }

    @media screen and (min-width: $size-sm) {
      position: fixed;
      top: $padding-lg;
      left: $padding-lg;
    }

    h1 {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: normal;
      margin: 0 0 0.8rem;
  
      @media screen and (min-width: $size-sm) {
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin: 0;
        
      }
    }
  }

  p {
    margin-bottom: 0;
  }

  &__info {
    [aria-current="page"] {
      text-decoration: none;
    }
    
    &__date,
    &__location,
    &__venue {
      font-size: 1.2rem;
      line-height: 1.4rem;
      font-weight: normal;
      color: $color-subtext;
  
      @media screen and (min-width: $size-sm) {
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }


  ul {
    margin-top: 2rem;
    list-style-type: none;

    li {
      margin: 0.5rem 0;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  button {
    background: none;
    border: none;
    color: $color-text;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
