.header {
  @media screen and (min-width: $size-md) {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: lighter;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 0;
  }

  &__date,
  &__location {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
    color: $color-subtext;
  }

  &__title {
    mix-blend-mode: difference;
    margin-top: 0;
  }
}
