.home {
  &__hero {
    margin: 20vh auto;
    @media screen and (min-width: $size-sm) {
      margin-top: 10vh;
      width: 100%;
      position: fixed;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title-container {
    margin: 0 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    max-width: 16rem;

    @media screen and (min-width: $size-xs) {
      max-width: 18rem;
    }

    @media screen and (min-width: $size-sm) {
      margin: 0 auto;
      width: 45rem;
      max-width: none;
      padding: 0;
    }
  }

  &__title {
    font-weight: normal;
    color: white;
    opacity: 0.5;
    padding-left: 0;
    line-height: 2.4rem;
    font-size: 1.4rem;
    z-index: -50;
    margin-left: 1rem;

    @media screen and (min-width: $size-xs) {
      line-height: 2.5rem;
      font-size: 1.5rem;
    }

    @media screen and (min-width: $size-sm) {
      line-height: 2.6rem;
      font-size: 2rem;
      margin: 0 auto;
      color: $color-subtext;
      opacity: 1;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    line-height: 1.2rem;
    max-width: 14rem;
    border-bottom: solid 1px $color-subtext;
    padding-bottom: 5rem;

    @media screen and (min-width: $size-sm) {
      flex-direction: row;
      gap: 2rem;
      position: absolute;
      margin: 0;
      right: $margin-lg;
      top: $margin-lg;
      max-width: none;
      border-bottom: none;
      padding-bottom: 0;
    }

    p {
      color: $color-subtext;
    }

    button {
      font-size: 1rem;
      background: none;
      border: none;
      color: $color-text;
      display: block;
      cursor: pointer;
      text-align: center;
      margin: 0.5rem 0.5rem;

      @media screen and (min-width: $size-sm) {
        font-size: $font-size;
        margin: 0;
        text-align: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      font-size: 1rem;
      display: block;
      margin: 0.5rem 0.5rem;
      text-align: left;

      @media screen and (min-width: $size-sm) {
        font-size: $font-size;
        margin: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
