.home {
  &__hero {
    margin: 16vh auto;

    @media screen and (min-width: $size-sm) {
      margin-top: 20vh;
      width: 100%;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    @media screen and (min-width: $size-md) {
      margin-top: 10vh;
      width: 100%;
      position: fixed;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title-container {
    margin: 0 1rem;
    background-clip: text;
    -webkit-background-clip: text;
    max-width: 16rem;

    @media screen and (min-width: $size-xs) {
      max-width: 18rem;
    }

    @media screen and (min-width: $size-sm) {
      margin: 0 auto;
      width: 45rem;
      max-width: none;
      padding: 0;
    }
  }

  &__title {
    font-weight: normal;
    color: white;
    color: $color-subtext !important;
    padding-left: 0;
    line-height: 2.4rem;
    font-size: 1.4rem;
    z-index: -50;
    margin-left: 1rem;

    @media screen and (min-width: $size-xs) {
      line-height: 2.5rem;
      font-size: 1.5rem;
    }

    @media screen and (min-width: $size-sm) {
      line-height: 2.6rem;
      font-size: 2rem;
      margin: 0 auto;
    }
  }
}
