.site {
  min-height: 100vh;
  &__columns {
    padding: $padding-sm;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    display: flex;
    min-height: 92vh;

    @media screen and (min-width: $size-md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: $margin;
      padding: $padding-lg;
    }
  }

  main {
    flex-grow: 1;
    margin: $margin;
    height: 100%;

    @media screen and (min-width: $size-md) {
      margin: 0;
      margin-top: $margin;
    }

    @media screen and (min-width: $size-md) {
      margin-top: 0;
    }

    h2 {
      color: white;
    }
  }

  .cta {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    line-height: 1.2rem;
    max-width: 14rem;
    border-bottom: solid 1px $color-subtext;
    padding-bottom: 5rem;

    @media screen and (min-width: $size-sm) {
      padding-bottom: 2rem;
      margin-top: 20rem;
    }

    @media screen and (min-width: $size-md) {
      flex-direction: row;
      justify-content: end;
      gap: 2rem;
      margin: 0;
      right: $margin-lg;
      top: $margin-lg;
      max-width: none;
      border-bottom: none;
      padding-bottom: 0;
    }

    p {
      color: $color-subtext;
    }

    p:first-of-type {
      margin-right: $margin-sm;
      @media screen and (min-width: $size-sm) {
        margin-right: $margin;
      }
    }

    a {
      font-size: 1rem;
      display: block;
      margin: 0.5rem 0.5rem;
      text-align: left;

      @media screen and (min-width: $size-sm) {
        font-size: $font-size;
        margin: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
