.svg-container {
  position: absolute;
  overflow: hidden;
  height: 190px;
  z-index: 50;
  width: 100vw;
  left: -10%;

  @media screen and (min-width: $size-sm) {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80rem;
  }

  @media screen and (min-width: $size-md) {
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 70rem;
  }

  img {
    position: absolute;
    top: -5%;
    right: 60%;
    opacity: 0.6;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    scale: 3;

    @media screen and (min-width: $size-xs) {
      right: 40%;
      top: 5%;
      width: 100%;
      scale: 2;
    }

    @media screen and (min-width: $size-sm) {
      top: 15%;
      right: 2%;
      width: 80rem;
      scale: 0.7;
    }
    @media screen and (min-width: $size-md) {
      top: 15%;
      right: 2%;
      width: 80rem;
      scale: 0.8;
    }
  }
}
