@font-face {
  font-family: "AkkuratMono";
  src: url("/web3summit-2024/fonts/AkkuratMonoLLWeb-Regular.woff2")
      format("woff2"),
    url("/web3summit-2024/fonts/AkkuratMonoLLWeb-Regular.woff") format("woff");
  font-weight: normal;
}
